<div class="box post-box" href="{{ post.url }}">
    <article class="media">
      <div class="media-content">
        <div class="content">
          <p>
            <h3>{{post.title}}</h3>
            {{post.excerpt}}
          </p>
        </div>
        <nav class="level is-mobile">
            <div class="level-right">
              <small>@</small> <small>{{ post.date }}</small>&nbsp; <a href="{{site.path}}{{post.url}}#disqus_thread">📩</a>
            </div>
          </nav>
      </div>
    </article>
  </div>