body {
    color: #333;
    font: 13px/1.4 Helvetica,arial,nimbussansl,liberationsans,freesans,clean,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    background:#222324 none repeat scroll 0 0;
}
a {
    font-size:1em;
}
/* 为了使定义生效，a:hover 必须位于 a:link 和 a:visited 之后！！*/
/* 为了使定义生效，a:active 必须位于 a:hover 之后！！*/
a:link, a:visited {
    color:#168c0e;
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
    color:#168c0e;
}
/* 网站容器 */
.container {
    background:#f1f1f1 none repeat scroll 0 0;
}
.content {
    width:1020px;
    margin:auto;
}
/* 网站页头 */
header {
    background:#222324 none repeat scroll 0 0;
    color:#8e8e8e;
    margin:15px 0;
}
.header {
    width:1020px;
    margin:auto;
}
.header h1 {
     margin:0;
}
/* 导航栏 */
nav {
    float:left;
    width:20%;
}
/* 正文 */
article {
    float:right;
    width:79%;
}
/* 网站脚注 */
footer {
    background:#222324 none repeat scroll 0 0;
    color:#8e8e8e;
    padding-bottom:5px;
    margin-bottom:0;
}
.footer {
    width:1020px;
    padding:20px 0 0 0;
    margin:auto;
}
/* 脚注 分3栏 */
.footer .column:first-child {
    padding:10px;
    width:380px;
    float:left;
}
.footer .column:nth-child(2) {
    padding:8px;
    width:200px;
    float:left;
    border-left: 1px solid rgba(0, 0, 0, 0.42);
    border-right: 1px solid rgba(0, 0, 0, 0.42);
}
.footer .column:last-child {
    padding:10px;
    width:380px;
    float:left;
}
/* 脚注大猫图片 圆形 */
.column img {
    border-radius: 50%;
    width:100px;
    height:100px;
}
/* 脚注大猫背景 */
.cycle{
    margin:5px 45px;
    background: rgba(0, 200, 0, 0.3) none repeat scroll 0 0;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    padding: 4px;
    position: relative;
}
/* 脚注大猫背景鼠标悬浮效果 */
.cycle:hover {
    background: rgba(0, 200, 0, 0.7) none repeat scroll 0 0;
}
/* 脚注联系方式 */
div address {
    margin:13px 0;
}
div address a:link,div address a:visited {
    color:#8e8e8e;
}
div address a:hover {
    color:#8e8e8e;
    text-decoration:underline;
    text-decoration-color: #168c0e; /* 下划线颜色 */
}
/* 脚注版权信息 */
.footer .copyright {
    border-top: 1px solid rgba(0, 0, 0, 0.42);
    font-size:0.9em;
    color:#aaa;
    clear:both;
    text-align:center;
    padding:15px 0 0 0;
}

/*css3字体*/
@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot');
    src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.svg#icomoon') format('svg'),
        url('../fonts/icomoon.woff') format('woff'),
        url('../fonts/icomoon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
    font-family: 'icomoon';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: 'icomoon';
    font-style: normal;
    speak: none;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.icon-github:before {
    content: "\e000";
}
.icon-twitter:before {
    content: "\e001";
}
.icon-facebook:before {
    content: "\e002";
}
.icon-home:before {
    content: "\e003";
}
.icon-location:before {
    content: "\e004";
}
.icon-user:before {
    content: "\e005";
}
.icon-phone:before {
    content: "\e006";
}
.icon-mail:before {
    content: "\e007";
}
.icon-user-2:before {
    content: "\e008";
}
