<!doctype html>
<html class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8">
    <!-- todo keywords tags categories -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    {% feed_meta %}
    {% seo %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="/assets/main.css" rel="stylesheet">
  </head>
  <body>
    {% include _nav.html %}
    <section class="section">
      <div class="container">
        {{content}}
      </div>
    </section>
    {% include _footer.html %}
  </body>
</html>