<!DOCTYPE html>
　　<html>
　　<head>
	<meta charset="utf-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="en" http-equiv="Content-Language">
	<meta content="width=1020" name="viewport">
	<link rel="stylesheet" media="all" href="./stylesheets/stylesheet.css">
	<link rel="stylesheet" media="all" href="./stylesheets/markdown.css">
	<link rel="stylesheet" media="all" href="./stylesheets/syntax.css">
　　　　	<title>{{ page.title }}</title>
　　</head>
　　<body>
　　　　	<div class="container group">
		{% include sidebar.html %}

		<div class="content">
		      	{{ content }}
		</div>

	</div>

	{% include footer.html %}

　　</body>
　　</html>
