<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="en" http-equiv="Content-Language">
	<meta content="width=1020" name="viewport">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" media="all" href="/stylesheets/stylesheet.css">
    <link rel="stylesheet" media="all" href="/stylesheets/markdown.css">
    <link rel="stylesheet" media="all" href="/stylesheets/syntax.css">
    <link rel="stylesheet" media="all" href="/stylesheets/style.css" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
</head>
<body>

<div class="single-post">
    <span class="post-meta"><a href="/">{{ site.author }}</a></span>
    {{ content }}
</div>

{% include footer.html %}

</body>
</html>
